{% extends 'base.html' %}




{% block contenido %}



    <center>
     <h1> Listar Nota de Venta</h1>


    <a href="{% url 'c_nota_venta'%}"> Crear Nota Venta</a>

                    <table>
                    <th>Fecha Creacion</th>
                    <th>Fecha modificacion</th>
                    <th>Codigo</th>
                    <th>Cliente</th>
                    <th>Direccion</th>
                    <th>Fecha</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>

                    {% for i in nota_venta_ls %}
                        {% if i.estado == 1  %}
                        <tr>
                            <td>{{ i.fecha_creacion }}</td>
                            <td>{{ i.fecha_actualizacion }}</td>
                            <td>{{ i.Codigo}}</td>
                            <td>{{ i.Cliente }}</td>
                            <td>{{ i.Direccion }}</td>
                            <td>{{ i.fecha }}</td>
                            <td><a href="{% url 'u_nota_venta' i.id%}"> ... </a> </td>
                            <td><a href="{% url 'd_nota_venta' i.id%}"> ... </a></td>

                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>



    </center>



{% endblock %}